@model Product
@{
    ViewData["Title"] = "Producto";

}

<div class="card">
    <div class="card-header">
        @ViewBag.Accion
    </div>
    <div class="card-body">

        <form asp-action="GuardarCambios" asp-controller="Home" method="post">

            <input type="hidden" asp-for="IdProduct" />

            <div class="mb-2">
                <label class="form-label">Barcode</label>
                <input type="text" class="form-control form-control-sm" asp-for="Barcode" />
            </div>
            <div class="mb-2">
                <label class="form-label">Name</label>
                <input type="text" class="form-control form-control-sm" asp-for="Name" />
            </div>
            <div class="mb-2">
                <label class="form-label">Brand</label>
                <input type="text" class="form-control form-control-sm" asp-for="Brand" />
            </div>


            <div class="mb-2">
                <label class="form-label">Category</label>
                <select type="text" class="form-select form-select-sm" asp-for="Category">
                    <option value="Technology">Technology</option>.
                    <option value="ElectroHome">ElectroHome</option>
                    <option value="Accessories">Accessories</option>
                    <option value="Furniture">Furniture</option>
                </select>
            </div>

            <div class="mb-2">
                <label class="form-label">Price</label>
                <input type="text" class="form-control form-control-sm" asp-for="Price" />
            </div>

            <button type="submit" class="btn btn-success btn-sm">Save changes</button>
            <a asp-action="Index" asp-controller="Home" class="btn btn-warning btn-sm">Back to index</a>
        </form>




    </div>

</div>
